body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:120px;
  top:120px;
  width:320px;
  height:568px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2147 {
  position:absolute;
  left:120px;
  top:120px;
  width:320px;
  height:20px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u2149 {
  position:absolute;
  left:126px;
  top:123px;
  width:308px;
  height:13px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u2151 {
  position:absolute;
  left:121px;
  top:140px;
  width:318px;
  height:44px;
  font-size:16px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  word-wrap:break-word;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:504px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2153 {
  position:absolute;
  left:121px;
  top:183px;
  width:318px;
  height:504px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:244px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2155 {
  position:absolute;
  left:121px;
  top:183px;
  width:318px;
  height:1px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2159 {
  position:absolute;
  left:130px;
  top:194px;
  width:36px;
  height:36px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2161 {
  position:absolute;
  left:174px;
  top:197px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2163 {
  position:absolute;
  left:174px;
  top:214px;
  width:174px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2165 {
  position:absolute;
  left:121px;
  top:240px;
  width:318px;
  height:1px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 190, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8FBE00;
}
#u2167 {
  position:absolute;
  left:379px;
  top:200px;
  width:50px;
  height:25px;
  color:#8FBE00;
}
#u2168 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#336162;
}
#u2169 {
  position:absolute;
  left:130px;
  top:151px;
  width:12px;
  height:23px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#336162;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2173 {
  position:absolute;
  left:130px;
  top:251px;
  width:36px;
  height:36px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2175 {
  position:absolute;
  left:174px;
  top:254px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2177 {
  position:absolute;
  left:174px;
  top:271px;
  width:126px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2179 {
  position:absolute;
  left:121px;
  top:297px;
  width:318px;
  height:1px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 190, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8FBE00;
}
#u2181 {
  position:absolute;
  left:379px;
  top:257px;
  width:50px;
  height:25px;
  color:#8FBE00;
}
#u2182 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2185 {
  position:absolute;
  left:130px;
  top:308px;
  width:36px;
  height:36px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2187 {
  position:absolute;
  left:174px;
  top:311px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2189 {
  position:absolute;
  left:174px;
  top:328px;
  width:126px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2191 {
  position:absolute;
  left:121px;
  top:354px;
  width:318px;
  height:1px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 190, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8FBE00;
}
#u2193 {
  position:absolute;
  left:379px;
  top:314px;
  width:50px;
  height:25px;
  color:#8FBE00;
}
#u2194 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2197 {
  position:absolute;
  left:130px;
  top:365px;
  width:36px;
  height:36px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2199 {
  position:absolute;
  left:174px;
  top:368px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2201 {
  position:absolute;
  left:174px;
  top:385px;
  width:126px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2203 {
  position:absolute;
  left:121px;
  top:411px;
  width:318px;
  height:1px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 190, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8FBE00;
}
#u2205 {
  position:absolute;
  left:379px;
  top:371px;
  width:50px;
  height:25px;
  color:#8FBE00;
}
#u2206 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
