body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:120px;
  top:120px;
  width:320px;
  height:568px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2085 {
  position:absolute;
  left:120px;
  top:120px;
  width:320px;
  height:20px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u2087 {
  position:absolute;
  left:126px;
  top:123px;
  width:308px;
  height:13px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u2089 {
  position:absolute;
  left:121px;
  top:140px;
  width:318px;
  height:44px;
  font-size:16px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:504px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:121px;
  top:183px;
  width:318px;
  height:504px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:244px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2093 {
  position:absolute;
  left:121px;
  top:183px;
  width:318px;
  height:1px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2097 {
  position:absolute;
  left:130px;
  top:194px;
  width:36px;
  height:36px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2099 {
  position:absolute;
  left:174px;
  top:197px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2101 {
  position:absolute;
  left:174px;
  top:214px;
  width:174px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2103 {
  position:absolute;
  left:121px;
  top:240px;
  width:318px;
  height:1px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2105 {
  position:absolute;
  left:379px;
  top:200px;
  width:50px;
  height:25px;
  color:#CCCCCC;
}
#u2106 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#336162;
}
#u2107 {
  position:absolute;
  left:130px;
  top:151px;
  width:12px;
  height:23px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#336162;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2111 {
  position:absolute;
  left:130px;
  top:251px;
  width:36px;
  height:36px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2113 {
  position:absolute;
  left:174px;
  top:254px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2115 {
  position:absolute;
  left:174px;
  top:271px;
  width:126px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2117 {
  position:absolute;
  left:121px;
  top:297px;
  width:318px;
  height:1px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2119 {
  position:absolute;
  left:379px;
  top:257px;
  width:50px;
  height:25px;
  color:#CCCCCC;
}
#u2120 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2123 {
  position:absolute;
  left:130px;
  top:308px;
  width:36px;
  height:36px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2125 {
  position:absolute;
  left:174px;
  top:311px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2127 {
  position:absolute;
  left:174px;
  top:328px;
  width:126px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2129 {
  position:absolute;
  left:121px;
  top:354px;
  width:318px;
  height:1px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2131 {
  position:absolute;
  left:379px;
  top:314px;
  width:50px;
  height:25px;
  color:#CCCCCC;
}
#u2132 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2135 {
  position:absolute;
  left:130px;
  top:365px;
  width:36px;
  height:36px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2137 {
  position:absolute;
  left:174px;
  top:368px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2139 {
  position:absolute;
  left:174px;
  top:385px;
  width:126px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2141 {
  position:absolute;
  left:121px;
  top:411px;
  width:318px;
  height:1px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2143 {
  position:absolute;
  left:379px;
  top:371px;
  width:50px;
  height:25px;
  color:#CCCCCC;
}
#u2144 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
