body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  position:absolute;
  left:120px;
  top:120px;
  width:320px;
  height:568px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1861 {
  position:absolute;
  left:120px;
  top:120px;
  width:320px;
  height:20px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u1863 {
  position:absolute;
  left:126px;
  top:123px;
  width:308px;
  height:13px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u1865 {
  position:absolute;
  left:121px;
  top:140px;
  width:318px;
  height:44px;
  font-size:16px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:121px;
  top:639px;
  width:318px;
  height:48px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1871 {
  position:absolute;
  left:146px;
  top:647px;
  width:22px;
  height:22px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1873 {
  position:absolute;
  left:145px;
  top:670px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1876 {
  position:absolute;
  left:210px;
  top:647px;
  width:19px;
  height:19px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1878 {
  position:absolute;
  left:209px;
  top:670px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1881 {
  position:absolute;
  left:337px;
  top:648px;
  width:20px;
  height:20px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1883 {
  position:absolute;
  left:336px;
  top:670px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1886 {
  position:absolute;
  left:399px;
  top:647px;
  width:20px;
  height:20px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1888 {
  position:absolute;
  left:404px;
  top:670px;
  width:11px;
  height:13px;
  font-size:10px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  position:absolute;
  left:132px;
  top:644px;
  width:294px;
  height:24px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:4px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1893 {
  position:absolute;
  left:267px;
  top:644px;
  width:36px;
  height:36px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  position:absolute;
  left:121px;
  top:310px;
  width:318px;
  height:329px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:156px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1897 {
  position:absolute;
  left:409px;
  top:150px;
  width:20px;
  height:20px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1899 {
  position:absolute;
  left:131px;
  top:150px;
  width:20px;
  height:20px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1902 {
  position:absolute;
  left:236px;
  top:251px;
  width:88px;
  height:88px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1904 {
  position:absolute;
  left:236px;
  top:251px;
  width:88px;
  height:88px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1906 {
  position:absolute;
  left:121px;
  top:349px;
  width:318px;
  height:18px;
  font-size:16px;
  text-align:center;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1908 {
  position:absolute;
  left:121px;
  top:395px;
  width:318px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1910 {
  position:absolute;
  left:121px;
  top:374px;
  width:318px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1912 {
  position:absolute;
  left:121px;
  top:423px;
  width:318px;
  height:19px;
  color:#666666;
  text-align:center;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u1914 {
  position:absolute;
  left:120px;
  top:462px;
  width:320px;
  height:30px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u1916 {
  position:absolute;
  left:131px;
  top:470px;
  width:61px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1920 {
  position:absolute;
  left:406px;
  top:466px;
  width:7px;
  height:7px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1922 {
  position:absolute;
  left:414px;
  top:466px;
  width:7px;
  height:7px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1924 {
  position:absolute;
  left:422px;
  top:466px;
  width:7px;
  height:7px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1927 {
  position:absolute;
  left:406px;
  top:474px;
  width:7px;
  height:7px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1929 {
  position:absolute;
  left:414px;
  top:474px;
  width:7px;
  height:7px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1931 {
  position:absolute;
  left:422px;
  top:474px;
  width:7px;
  height:7px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1934 {
  position:absolute;
  left:406px;
  top:482px;
  width:7px;
  height:7px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1936 {
  position:absolute;
  left:414px;
  top:482px;
  width:7px;
  height:7px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1938 {
  position:absolute;
  left:422px;
  top:482px;
  width:7px;
  height:7px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u1940 {
  position:absolute;
  left:131px;
  top:502px;
  width:92px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:86px;
}
#u1942 {
  position:absolute;
  left:121px;
  top:527px;
  width:106px;
  height:86px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:35px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:86px;
}
#u1944 {
  position:absolute;
  left:227px;
  top:527px;
  width:106px;
  height:86px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:35px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:86px;
}
#u1946 {
  position:absolute;
  left:333px;
  top:527px;
  width:106px;
  height:86px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:35px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u1948 {
  position:absolute;
  left:131px;
  top:623px;
  width:99px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1951 {
  position:absolute;
  left:399px;
  top:647px;
  width:20px;
  height:20px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1953 {
  position:absolute;
  left:404px;
  top:670px;
  width:11px;
  height:13px;
  font-size:10px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u1956 {
  position:absolute;
  left:489px;
  top:481px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u1957 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u1958 {
  position:absolute;
  left:489px;
  top:530px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u1959 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u1960 {
  position:absolute;
  left:489px;
  top:578px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u1961 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1962 {
  position:absolute;
  left:489px;
  top:634px;
  width:300px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1963 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u1964 {
  position:absolute;
  left:489px;
  top:530px;
  width:300px;
  height:1px;
  font-size:16px;
  color:#0066FF;
}
#u1965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u1966 {
  position:absolute;
  left:489px;
  top:579px;
  width:300px;
  height:1px;
  font-size:16px;
  color:#0066FF;
}
#u1967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:558px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1968 {
  position:absolute;
  left:839px;
  top:140px;
  width:320px;
  height:558px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:271px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1970 {
  position:absolute;
  left:840px;
  top:320px;
  width:318px;
  height:378px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:181px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1973 {
  position:absolute;
  left:955px;
  top:261px;
  width:88px;
  height:88px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1975 {
  position:absolute;
  left:955px;
  top:261px;
  width:88px;
  height:88px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:840px;
  top:359px;
  width:318px;
  height:18px;
  font-size:16px;
  text-align:center;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1979 {
  position:absolute;
  left:840px;
  top:405px;
  width:318px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1981 {
  position:absolute;
  left:840px;
  top:384px;
  width:318px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1983 {
  position:absolute;
  left:840px;
  top:433px;
  width:318px;
  height:19px;
  color:#666666;
  text-align:center;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1985 {
  position:absolute;
  left:1128px;
  top:150px;
  width:20px;
  height:20px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:850px;
  top:149px;
  width:12px;
  height:23px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(143, 190, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8FBE00;
}
#u1989 {
  position:absolute;
  left:974px;
  top:468px;
  width:50px;
  height:25px;
  color:#8FBE00;
}
#u1990 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:839px;
  top:513px;
  width:320px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u1994 {
  position:absolute;
  left:850px;
  top:521px;
  width:61px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1998 {
  position:absolute;
  left:1125px;
  top:517px;
  width:7px;
  height:7px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2000 {
  position:absolute;
  left:1133px;
  top:517px;
  width:7px;
  height:7px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2002 {
  position:absolute;
  left:1141px;
  top:517px;
  width:7px;
  height:7px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2005 {
  position:absolute;
  left:1125px;
  top:525px;
  width:7px;
  height:7px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2007 {
  position:absolute;
  left:1133px;
  top:525px;
  width:7px;
  height:7px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2009 {
  position:absolute;
  left:1141px;
  top:525px;
  width:7px;
  height:7px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2012 {
  position:absolute;
  left:1125px;
  top:533px;
  width:7px;
  height:7px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2014 {
  position:absolute;
  left:1133px;
  top:533px;
  width:7px;
  height:7px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2016 {
  position:absolute;
  left:1141px;
  top:533px;
  width:7px;
  height:7px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u2018 {
  position:absolute;
  left:850px;
  top:553px;
  width:92px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:86px;
}
#u2020 {
  position:absolute;
  left:840px;
  top:578px;
  width:106px;
  height:86px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:35px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:86px;
}
#u2022 {
  position:absolute;
  left:946px;
  top:578px;
  width:106px;
  height:86px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:35px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:86px;
}
#u2024 {
  position:absolute;
  left:1052px;
  top:578px;
  width:106px;
  height:86px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:35px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u2026 {
  position:absolute;
  left:850px;
  top:674px;
  width:99px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u2029 {
  position:absolute;
  left:1208px;
  top:334px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#FF0000;
}
#u2030 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u2031 {
  position:absolute;
  left:1208px;
  top:531px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u2032 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u2033 {
  position:absolute;
  left:1208px;
  top:579px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u2034 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u2035 {
  position:absolute;
  left:1208px;
  top:635px;
  width:300px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u2036 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2037 {
  position:absolute;
  left:1208px;
  top:382px;
  width:300px;
  height:1px;
  font-size:16px;
  color:#0066FF;
}
#u2038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2039 {
  position:absolute;
  left:1208px;
  top:580px;
  width:300px;
  height:1px;
  font-size:16px;
  color:#0066FF;
}
#u2040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u2041 {
  position:absolute;
  left:1208px;
  top:383px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#FF0000;
}
#u2042 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2043 {
  position:absolute;
  left:1208px;
  top:432px;
  width:300px;
  height:1px;
  font-size:16px;
  color:#0066FF;
}
#u2044 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u2045 {
  position:absolute;
  left:1208px;
  top:433px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u2046 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2047 {
  position:absolute;
  left:1208px;
  top:481px;
  width:300px;
  height:1px;
  font-size:16px;
  color:#0066FF;
}
#u2048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u2049 {
  position:absolute;
  left:1208px;
  top:482px;
  width:300px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u2050 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2051 {
  position:absolute;
  left:1208px;
  top:530px;
  width:300px;
  height:1px;
  font-size:16px;
  color:#0066FF;
}
#u2052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0000FF;
}
#u2053 {
  position:absolute;
  left:120px;
  top:78px;
  width:65px;
  height:15px;
  font-size:13px;
  color:#0000FF;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u2055 {
  position:absolute;
  left:103px;
  top:163px;
  width:47px;
  height:1px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0000FF;
}
#u2057 {
  position:absolute;
  left:76px;
  top:155px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#0000FF;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u2059 {
  position:absolute;
  left:416px;
  top:165px;
  width:47px;
  height:1px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0000FF;
}
#u2061 {
  position:absolute;
  left:473px;
  top:165px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#0000FF;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:353px;
}
#u2063 {
  position:absolute;
  left:462px;
  top:165px;
  width:1px;
  height:352px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:168px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u2065 {
  position:absolute;
  left:463px;
  top:516px;
  width:47px;
  height:1px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2067 {
  position:absolute;
  left:840px;
  top:87px;
  width:65px;
  height:15px;
  font-size:13px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:2px;
}
#u2069 {
  position:absolute;
  left:817px;
  top:158px;
  width:33px;
  height:1px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2071 {
  position:absolute;
  left:752px;
  top:151px;
  width:65px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u2073 {
  position:absolute;
  left:1034px;
  top:465px;
  width:114px;
  height:30px;
  font-size:13px;
  color:#FF0000;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u2075 {
  position:absolute;
  left:1136px;
  top:163px;
  width:47px;
  height:1px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:353px;
}
#u2077 {
  position:absolute;
  left:1182px;
  top:163px;
  width:1px;
  height:352px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:168px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u2079 {
  position:absolute;
  left:1183px;
  top:514px;
  width:47px;
  height:1px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0000FF;
}
#u2081 {
  position:absolute;
  left:246px;
  top:463px;
  width:160px;
  height:30px;
  font-size:13px;
  color:#0000FF;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
